body {
    margin: 0;
    font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    width: 100%;
    display: flex;

    .container {
        width: 50%;
        border-right: 2px solid gray;
        padding: 20px;
        box-sizing: border-box;

        &_result {
            width: 50%;
            border-right: none;
        }

        .task {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.square {
    // только исправления, новых св-в не добавлять!
    width: 180px;
    height: 180px;
    background-color: rgb(0, 128, 29);
    color: white;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 5px 5px 15px 0px black;
    border: 1px solid red;
    display: flex;    //добавил
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.clip {
    width: 200px;
    height: 100px;
    background: linear-gradient(to right, rgb(255, 163, 54), rgb(254, 129, 232));
    border-left: 3px solid green;
    border-bottom: 3px solid red;
    clip-path: polygon(0 0, 80% 0, 80% 20%, 100% 0, 100% 100%, 0 100%);
}

.news {
    width: 300px;

    &__title {
        font-weight: bold;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-size: 16;
        text-decoration: uppercase;
        text-transform: underline;
        text-align: right;
    }
}

.perspective {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 163, 54);
    position: relative;
//    border: 2px solid red;

    &__inside-1 {
        width: 150px;
        height: 150px;
        background-color: rgb(0, 128, 29);
        position: absolute;
        top: -50px;
        left: 100px;
        box-shadow: 0 0 10px 0 black;
    }

    &__inside-2 {
        width: 100px;
        height: 100px;
        background-color: rgb(255, 0, 33);
        position: absolute;
        top: 100px;
        left: -50px;
        box-shadow: 0 0 10px 0 black;
    }
}
